* {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

/*============================================
      HTML BODY RESET
 ============================================*/
html,
body {
    margin:0;
    padding:0;
    height:100%;
}

html,
body,
.container,
.content-wrap {
    width: 100%;
    height: 100%;
    float:left;
}

a {
    color: $color-blue;
//    text-decoration: underline;
    @include hover {
        color: $color-grey;
        text-decoration: none;
    }
}

// RESET ROW WIDTH AND ADD GUTTER PADDING
$row-width-page: 38rem;
$row-width-blog: 55rem;
$row-width-full: 70rem;
.row {
    height: auto;
    max-width: $row-width-full;
    @media #{$medium-up} {
        padding: 0 $column-gutter/2;
    }
    &.page {
        max-width: $row-width-page;
        margin: 2rem auto;
        &.workshops {
            max-width: 50rem;
            margin: 2rem auto 1rem;
        }
    }
    &.content {
        margin-top: 80px;
        min-height: 80%;
        .page {
            margin: 0 auto;
        }
    }
    &.blog-list, &.video-list {
        max-width: $row-width-blog;
        margin: 40px auto;
    }
    &.picture-interview {
        min-height: 70%;
    }
}

//Stop the last child of a column from floating right
[class*="column"] + [class*="column"]:last-child {
    float: left !important;
}


// A CLASS FOR LANDSCAPE MOBILE WIDTH (IN BETWEEN SMALL & MEDIUM)
@media only screen and (min-width: 500px) and (max-width: 40.063em){
    .small-medium-6 {
        width:50%;
        &:nth-of-type(odd){
            padding-right: $column-gutter/4;
        }
        &:nth-of-type(even){
            padding-left: $column-gutter/4;
        }
    }
}


/*============================================
      WRAPPER, HEADER, CONTENT, FOOTER
 ============================================*/
.container {
    height: 100%;
    min-height: 100%;
    position: relative;

    #header {
        padding:10px;
    }

    footer {
        width: 100%;
        margin: 1rem 0 0.5rem;
        float: left;

        .contact > small {
            padding-left: 0.25rem;
        }
        .social-media-follow {
            float: right;
            padding-top: 2rem;
        }
        .company {
            padding-top: 1.5rem;
            small {
                display: block;
            }
        }

        // hide on manual page
        .page-template-page-manual &,
        .page-template-single-manual &,
        .single-manual &{
            display: none;
        }

        @media #{$small-only} {
            div {
                margin-bottom: 0.5rem;
            }
            .contact, .social{
                text-align: center;
            }
            .social-media-follow {
                float: none;
            }
        }


    }
}



.page-title {
    padding: 6rem 10px 0;
    max-width: 620px;
    margin: auto;
    @media #{$medium-up} {
        padding-top: 1rem;
    }
    .page-template-page-lokal & {
        padding-top: 5rem;
        @media #{$medium-up} {
            padding-top: 1rem;
        }
    }
}

.leader {
    width: 100%;
    z-index: $z-index-leader;
}

.credit {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    a {
        color: $color-dark;
    }
    .background-dark & a {
        color: $color-dark;
    }
}


.video-item {
    margin-bottom: 1rem;
    min-height: initial;
    display: inline-block;
    @media #{$medium-up} {
        min-height: 14rem;
        margin-bottom: 2rem;
    }
}

.blog-item {
    margin-bottom: 1rem;
    min-height: initial;
    display: inline-block;
    @media #{$medium-up} {
        min-height: 14rem;
        margin-bottom: 2rem;
    }

    .blog-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    
    a:hover .blog-title {
        color: $color-blue;
    }
    &:nth-child(4n) { 
        @media #{$medium-up} {
            width: 100%;
            margin-bottom: 4rem;
            .blog-title, .excerpt {
                width: 33.33%;
                // float: left;
                text-align: right;
                padding: 0px 1rem 0 0;
            }
            .blog-title {
                font-size: 32px;
            } 
            .excerpt p {
                font-size: 16px;
                line-height: 1.5rem;
            }
            img {
                width: 65.66%;
                float: right;
            }
        }
    }
    &:nth-child(8n) {
        @media #{$medium-up} {
            .blog-title, .excerpt {
                float: right;
                text-align: left;
                padding: 0px 0 0 1rem;
            } 
            img {
                float: left;
            }
        }
    }
    img {
        width: 100%;
    }
}

.meta {
    font-size: 70%;
    margin-bottom: 0.5rem;
}

.excerpt {
    p {
        // color: inherit !important; // stop annoying colour changes
        color: #666;
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
        line-height: 1.3rem;
    }
}

article {
    margin: 0 0 40px;
}

.page-template-page-manual,
.page-template-single-manual,
.single-manual {
    background: $color-grey;
}



$social-media-icon-size: 20px;
.social-media-follow {

    .home & {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        @media #{$large-up}{
            position: fixed;
        }

        a {
            svg path {
                fill: $color-light;
            }

            &:hover svg path {
                fill: $color-yellow;
            }
        }
    }

    .main-menu-wrap & {
        a {
            svg path {
                fill: $color-dark;
            }

            &:hover svg path {
                fill: $color-light;
            }
        }
    }

    .home.background-dark a svg path {
        fill: $color-dark;
    }

    a {
        display: inline-block;
        padding: 0.5rem;

        svg {
            width: $social-media-icon-size;
            height: $social-media-icon-size;
            path {
                fill: $color-dark;
            }
        }

        &:hover svg path {
            fill: $color-yellow;
        }
    }

    .main-menu-wrap & {
        position: relative;
        bottom: auto;
        right: auto;
        margin-bottom: 1rem;
    }
}

.share-post {
    position: relative;
    text-align: center;
    ul {
        margin: 0;
    }
    li {
        display: inline-block;
        padding: 0 1rem 1rem;

        .page-template-page-manual &,
        .page-template-single-manual &,
        .single-manual & {
           padding: 0 1rem 1rem;
        }

        &:hover svg path {
            fill: $color-yellow;
        }

        &.share-text {
            bottom: 4px;
            margin-right: -9px;
            position: relative;

            .page-template-page-manual &,
            .page-template-single-manual &,
            .single-manual {
                @media #{$medium-up} {
                    display: block !important;
                    text-align: center;
                    margin: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    @media #{$medium-up} {
        position: fixed;
        bottom: 50%;
        transform: translateY(50%);
        right: 1rem;
        text-align: right;
        li {
            display: block;
            padding: 0.5rem;
        }
    }

    .page-template-page-manual &,
    .page-template-single-manual &,
    .single-manual & {
        bottom: 0;
        transform: translateY(0);
        right: auto;
        left: 0;
        text-align: left;
        li {
            display: inline-block;
        }
    }
}

.post-meta {
    margin-bottom: 2.5rem;
    li {
        font-size: 0.8rem;
    }
    .author {
        float: left;
    }
    .read-time{
        float: right;
    }
}

.artist-links {
    margin-top: 2rem;
}

.related-posts {
    margin-top: 3rem;

    .small-medium-6.image {
        padding: inherit;
    }

    @media #{$small-only} {
        .image {
            padding: 0;
        }
    }
}

.blog-author {
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding-top: 1rem;
    p {
        margin-bottom: 0.5rem;
    }
}

.event-date {
    $eventDateSquare: 35px;
    height: $eventDateSquare;
    line-height: $eventDateSquare;
    text-align: left;
    padding: 0 0.4rem;
    .time {
        font-size: 12px;
    }
}

.events-page.row.content {
    margin-top: 1rem;
    p {
        padding: 0 1em;
    }

    .label {
        padding: .3em .5em;
        height: 60px;
        display: table;
        width: 100%;
        font-size: 14px;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.events-page-single {
    min-height: 70%;
    margin-top: 1em;
    .attachment-post-thumbnail {
        margin-bottom: 1em;
    }
}

