#manual-image-i svg #movieSnap {
    transform-origin: 0% 110%;
}

#manual-image-q {
    bottom: 33%;
    #blackHole {
        transform-origin: -90% -180%;
    }

}
#manual-image-y {
    left: -4%;
    bottom: 34%;
}

#manual-image-z {
    #evaluationReport {
        transform: translate(-3px, 3px);
    }
}

